<div class="row">


  <h3 class="lefttitletop" style="color:#000;margin-left: 0;"> STEP1 - NAME YOUR SMART TEMPLATE

    <p style="   
      color: gray;
      font-size: 13px;margin-top: 3px;  text-transform: capitalize;  ">
      Select Your Field By Highlighting The Text
    </p>
  </h3>





  <div class="leftcontent">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy
      text ever since the 1500s,
    </p>
    <p>
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
      only five
      centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
      in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
      desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
  <button data-toggle="modal" data-target="#myModal" class="btn btn-primary" type="button" style="margin: 3% 0;"> Look
    Up Smart Field</button>

  <div class="table-responsive ">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>name</th>
          <th>mapped to </th>
          <th>type </th>
          <th>value</th>
          <th>data source</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-primary">sample text</td>
          <td>sample text</td>
          <td>sample text</td>
          <td>sample text</td>
          <td>sample text</td>
        </tr>
        <tr>
          <td class="text-primary">sample text</td>
          <td>sample text</td>
          <td>sample text</td>
          <td>sample text</td>
          <td>sample text</td>
        </tr>
        <tr>
          <td class="text-primary">sample text</td>
          <td>sample text</td>
          <td>sample text</td>
          <td>sample text</td>
          <td>sample text</td>
        </tr>



      </tbody>
    </table>
  </div>





  <div class="col-12 tempbtn tempbtn1">
    <ul>
      <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> close</button></li>
      <li> <button type="button" class="btn btn-dark"><i class="fa fa-user"></i> delegate</button></li>
      <li> <button type="button" class="btn btn-dark"><i class="fa fa-paper-plane"></i> send for preview</button></li>

      <li> <button type="button" class="btn btn-primary"><i class="fa fa-check"></i>save draft</button></li>
      <li> <button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>publish</button></li>

    </ul>
  </div>


</div>



<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 style="margin-bottom: 0;font-size: 19px;">look up smart field (select one option)
        </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form action="">

          <div class="table-responsive ">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>select</th>
                  <th>field name</th>
                  <th>field type </th>
                  <th>value</th>
                  <th>alternate names</th>
                  <th>data source</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="radio"></td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>RDMBS</td>
                </tr>
                <tr>
                  <td><input type="radio"></td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>RDMBS</td>
                </tr>
                <tr>
                  <td><input type="radio"></td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>sample text</td>
                  <td>RDMBS</td>
                </tr>

              </tbody>
            </table>
          </div>


        </form>



      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="border:0;">
        <div class="col-12 tempbtn">
          <ul>
            <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> cancel</button></li>
            <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> none of these</button></li>
            <li> <button type="button" class="btn btn-primary"><i class="fa fa-check"></i> select</button></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>