<div class="container">
        <div class="row temptoplist">
          <ul class="">
            <li>
              <button (click)='goBack()' type="button" class="btn btn-light"><i class="fa fa-mail-reply"></i> Back</button>
            </li>
         
            <li><a href="">Templates /</a></li>
            <li><a href="">Edit /</a></li>
            <li><a href="">Pending / </a></li>
            <li><a href="">Template View / </a></li>
            <li>Template ID </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-12  temptitle">
            <h3>View Pending Template</h3>
            <div class="report-col">
              <button class="btn btn-save" type="button"><i  class="fa fa-question" ></i> Help</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3 left_sidebar p-0">
            <app-entity-sidebar></app-entity-sidebar>
          </div>
          <!--right_container-->
          <div class="col-12 col-lg-9 p-0">
                
            <form action="" class="tempform toppadding ">
            
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">File Name </label>
                </div>
                <div class="col-lg-2">
                  2018_MMFA-112
                </div>
                <div class="col-lg-6">
                  <ul class="editbtnlist">
                    <li style="margin-right: 8px;">
                      <button type="button" class="btn btn-primary"><i  class="fa fa-eye" ></i> View Doc</button>
                    </li>
                    <li>
                      <button type="button" class="btn btn-dark"><i  class="fa fa-eye" ></i> View History</button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Priority</label>
                </div>
                <div class="col-lg-4" style="color:red;">
      
                  Hight
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Assigned By</label>
                </div>
                <div class="col-lg-4">
                  Arushi Joshi
      
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Delegated To</label>
                </div>
                <div class="col-lg-4">
                  Matrie White
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Due Date</label>
                </div>
                <div class="col-lg-4">
                  <input type="date" class="form-control" id="" name="">
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Task Description</label>
                </div>
                <div class="col-lg-4">
                  <textarea name="" id="" cols="38" rows="5" placeholder="Please review Section3"></textarea>
                </div>
              </div>
      
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Worlflow Classification</label>
                </div>
                <div class="col-lg-4">
                  <input type="text" class="form-control" id="" name="">
                </div>
                <div class="col-lg-3">
                  <button type="button" class="btn btn-primary"><i  class="fa fa-eye" ></i> View Flow</button>
      
                </div>
              </div>
      
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Step No. </label>
                </div>
                <div class="col-lg-4">
                  <input type="text" class="form-control" id="" name="" value="2">
                </div>
              </div>
      
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Comments</label>
                </div>
                <div class="col-lg-4">
                  <textarea name="" id="" cols="38" rows="5" placeholder="No comments"></textarea>
                </div>
              </div>
      
              <div class="col-12 tempbtn">
                <ul>
                  <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> close</button></li>
                  <li> <button type="button" class="btn btn-primary"><i class="fa fa-check"></i> start</button></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
      