.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
 .newheader li{
    margin: 0 18px;
    position: relative;
    top: 17px;
}
.newheader .droplist{
    top: 0;
}
.newheader li label{
    color: #fff;
    margin-right: 6px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}
.newheader .newheader{
    background: linear-gradient(90deg, #0099cc 0, #663399 100%);
}
.bg-dark{
    background: linear-gradient(90deg, #0099cc 0, #663399 100%);
}

.newheader select {
    background: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 6px 10px;
    color: #fff;
    outline: none;
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
.newheader .fa{
    background: none;
    border: none;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    cursor: pointer;
}
.newheader img{
    max-width: 180px;
}
.newheader .dropdown button{
background: none !important;
    border: none;
    box-shadow: none !important;
    color: #fff;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}
.newheader .dropdown img{ max-width: 180px;
        border: 2px solid #fff;
        border-radius: 50%;
}



.list-row{
    background: #f6f6f6;
}
.list-row {
    padding: 18px 0;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    position: relative;
}
.list-row ul {
    margin-bottom: 0;
}
.list-row ul li{
    display: inline-block;
    /* margin: 0 21px; */
}
.list-row ul li a{
    padding: 21px 35px;
    font-size: 14px;
    font-weight: 500;  
    color: #000;

}
.list-row ul li a img{
    margin-right: 5px;
}
.list-row ul li a.active {
    background: #663399;
    color: #fff;
    position: relative;
}
.list-row ul li a.active:after {
    content: "";
    border-bottom: 10px solid #f6f6f6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
}
.b_img1{
    margin-right: 5px;
    height: 24px;
    width: auto;
}
.w_img1{
    margin-right: 5px;
    height: 24px;
    width: auto;  
    display: none;
}
.list-row ul li a.active .b_img1 {
    display: none;
}
.list-row ul li a.active .w_img1 {
    display: inline-block;
}



@media(min-width:768px) and  (max-width:992px){
    .newheader select {
        width:auto;
    }
}

@media(max-width:767px){
    .newheader li {
        margin: 7px 0;
        position: relative;
        top: 17px;
    }
    .newheader .navbar-toggler{
        display: block;
    }
    .newheader .dropdown button{
        padding-left: 0;
    }
}







@media(min-width:992px) and (max-width:1199px){
    .newheader li{
        margin: 0 0;      
        margin-right: 14px;
    }  
    .newheader select{
        margin-left:0px;    width: 68px;
    }
    .list-row ul li a{
        padding: 21px 27px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .newheader li{
        margin: 0 0;      
        margin-right: 3px;
    }  
    .newheader select{
        
        margin-left:0px;    width: 68px;
    }
    .newheader li label{
        margin-right: 0;
    }
    .newheader .dropdown img{
        max-width: 50px;
    }
    .bg-dark{
        padding-left: 0;
        padding-right: 0;
    }
    .newheader .dropdown button{
        padding-right: 0;
    }
    /* .navbar-nav{
        padding-bottom: 4px;
    } */

    .newheader li{
        top: 10px;
    }
    .list-row ul li a{
        padding: 21px 8px;
    }
}

@media(max-width:767px){
    .list-row ul li a{
        padding: 13px 30px;
    }
    .list-row{
        padding: 0;
    }
    
.list-row ul li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
}