<div class="pt-5 pb-5 row-div">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12  offset-md-4 col-md-4   text-center">
                <div class="dash-box bg-danger">
                    <h3 style="text-transform: uppercase;">Tasks</h3>
                    <figure><img src="assets/images/template-ts.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink="/tasks/add-task"><img src="assets/images/plus-white.png">Add </a>
                        </li>
                        <li class="col"><a routerLink="/tasks/view-task"><img src="assets/images/pencil-white.png">Edit
                            </a></li>
                        <li class="col"><a routerLink="/tasks/view-task"><img src="assets/images/eye-white.png">View
                            </a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>