<div class="pt-5 pb-5 row-div">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 offset-lg-2 col-lg-4 offset-md-1 col-md-6   text-center">
                <div class="dash-box bg-danger">
                    <h3 style="text-transform: uppercase;">Tasks</h3>
                    <figure><img src="assets/images/template-ts.png" alt=""></figure>
                    <ul class="pl-0 dash-link d-flex">
                        <li class="col"><a routerLink="/smart-template/add-smart"><img
                                    src="assets/images/plus-white.png">Add </a></li>
                        <li class="col"><a routerLink="/smart-template/edit-smart"><img
                                    src="assets/images/pencil-white.png">Edit </a></li>
                        <li class="col"><a routerLink="/smart-template/view-smart"><img
                                    src="assets/images/eye-white.png">View </a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>