<div class="sidebar">
    <!-- <h3 class="mb-0 p-2">My Company</h3> -->
    <div class="left-men-u">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        <img src="assets/images/overview-enterprise.png" alt="" srcset="">
                        <img src="assets/images/company-black.png" alt="" srcset="">
                       SMART TEMPLATES<span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <ul class="card-body nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/tasks/add-task" data-toggle="tab"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                Add Task </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/tasks/edit-task" data-toggle="tab"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                Edit Task </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/tasks/view-task" data-toggle="tab"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                View Task </a>
                        </li>
                    
                    </ul>
                </div>
            </div>
        


        </div>
    </div>
</div>