<div class="container">
        <div class="row temptoplist">
          <ul class="">
            <li>
              <button (click)='goBack()' type="button" class="btn btn-light"><i class="fa fa-mail-reply"></i> Back</button>
            </li>
            <li>Smart Templates /</li>
            <li><a href="">All  </a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-12  temptitle">
            <h3>Edit All Template</h3>
            <div class="report-col">
                    <button class="btn btn-save" type="button"><i  class="fa fa-question" ></i> View History</button>
                  </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3 left_sidebar p-0">
                <app-smart-sidebar></app-smart-sidebar>
          </div>
          <!--right_container-->

          <div class="col-xs-12 col-sm-9 col-md-6 col-lg-9 col-xl-9 p-r-0 tablebottom">
                
      <div class="col-12 smart-title">
            <h3 style="    color: #000;
            font-weight: 500;text-transform: uppercase;">smart template general info
        
           
        </h3>
        <i class="fa fa-pencil"></i>
      </div>
        
                <div class="table-responsive table1">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                            <th>name</th>
                            <th>ver.  </th>
                            <th>type </th>
                            <th>created by</th>
                            <th>related template</th>
                            <th>status</th>
                            <th>current business owner</th>
                            <th>description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                            <td>Agency_MUR_35_ST</td>
                            <td>1.0.1</td>
                            <td>Home Loan</td>
                            <td>Marie white</td>
                            <td ><a href="">Agency_MUR_35_ST</a></td>                            
                            <td class="bg-warning" style="color:#fff;"> Pending</td>
                            <td>AJhoshi</td>
                            <td>Smart Template for Home Loan</td>
                      </tr>
                     
                      
                         
                    </tbody>
                  </table>
                </div>



                <div class="col-12 smart-title">
                    <h3 style="    color: #000;
                    font-weight: 500;text-transform: uppercase;">smart template legal tree
                <p style='    text-transform: capitalize;
                color: gray;
                font-size: 13px;margin-top: 3px;    '>Click on magnifying glass  shows text  associated to each of the selected clauses</p>
                   
                </h3>
                <i class="fa fa-pencil"></i>
              </div>

            


<div class="col-12 treelist">
<ul>
<li>
    <button class="btn btn-save" type="button">Home Loan <i  class="fa fa-search"  ></i> </button>
</li>
<li>
    <button class="btn btn-save" type="button">Home Loan <i  class="fa fa-search"  ></i> </button>
</li>
<li>
    <button class="btn btn-save" type="button">Home Loan <i  class="fa fa-search"  ></i> </button>
</li>
<li>
    <button class="btn btn-save" type="button">Home Loan <i  class="fa fa-search"  ></i> </button>
</li>
<li>
    <button class="btn btn-save" type="button">Home Loan <i  class="fa fa-search"  ></i> </button>
</li>

</ul>
</div>



              <div class="col-12 smart-title">
                  <h3 style="    color: #000;
                  font-weight: 500;text-transform: uppercase;">smart fields
              
                 
              </h3>
              <i class="fa fa-pencil"></i>
            </div>
              
                      <div class="table-responsive ">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                                  <th>name</th>
                                  <th>mapped to </th>
                                  <th>type </th>
                                  <th>value</th>
                                  <th>data source</th>
                                  <th>action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                  <td color="text-primary">sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td> <i class="fa fa-search"></i></td>
                            </tr>
                            <tr>
                                  <td color="text-primary">sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td> <i class="fa fa-search"></i></td>
                            </tr>
                            <tr>
                                  <td color="text-primary">sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td>sample text</td>
                                  <td> <i class="fa fa-search"></i></td>
                            </tr>
                           
                            
                               
                          </tbody>
                        </table>
                      </div>

                      <div class="col-12 tempbtn">
                          <ul>
                            <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> close</button></li>
                            <li> <button type="button" class="btn btn-dark"><i class="fa fa-close"></i> delegate</button></li>
                            <li> <button type="button" class="btn btn-primary"><i class="fa fa-close"></i> publish</button></li>
                         
                            <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> send a reminder</button></li>
                            <li> <button type="button" class="btn btn-dark"><i class="fa fa-close"></i> send for review</button></li>
                            <li> <button type="button" class="btn btn-primary"><i class="fa fa-close"></i> save as draft</button></li>
                         
                          </ul>
                        </div>
              </div>

      
      </div>


      