<div class="row mt-3 create_new_roles">
    <div class="container">
        <!--title-->
        <div class=" row-div">
            <div class="title_col">
                <a (click)='goBack()' class="back_btn"><i class="fa fa-mail-reply"></i> Back</a>
            </div>
            <ul class="subm">
                <li>Smart Template <a href="">/</a> </li>
                <li>Create <a href="">/</a> </li>
                <li><a href="">VIEW AND EDIT </a></li>
            </ul>
            <!-- <h1 class="heading">Create a New Company</h1> -->
        </div>
        <!--/title-->

        <!--data-section-->
        <div class="data_section row-div">
            <div class="data_title row-div">
                <h3>Create Smart Template</h3>
            </div>
            <div class="data_inner row-div">
                <div class="row">
                    <!--left-sidebar-->
                    <div class="col-12 col-lg-3 left_sidebar">
                        <app-smart-sidebar></app-smart-sidebar>
                    </div>


                    <div class="col-12 col-lg-9 right_container">
                        <div class="inner_content row-div">
                            <div>
                                <h3>ANYONE CAN BUILD AN SMART TEMPLATE</h3>
                                <p>Watch how to Create an Smart Template </p>
                                <div class="smart-template-bg">
                                    <a title="Play Video" data-toggle="modal" data-target="#myModal">
                                        <div></div>
                                        <img src="assets/images/play-icon.png">
                                    </a>
                                </div>
                            </div>
                            <div class="row mg">
                                <div class="col-lg-7 ">

                                    <ul class="nav w-100  list-unstyled multi-steps">
                                        <li class="is-active">
                                            <a data-toggle="tab" href="#home">
                                                <span>
                                                  Select a Published Template
                                                </span>
                                            </a>
                                        </li>
                                        <li class="is-active">
                                            <a data-toggle="tab" href="#menu1">
                                                <span>
                                                    Smart Clause
                                                </span>
                                            </a>
                                        </li>
                                        <li><a data-toggle="tab" href="#menu2">
                                                <span>
                                                    Smart Field
                                                </span> </a>
                                        </li>

                                    </ul>

                                </div>

                                <div class="col-lg-1 ">
                                    <button class="button button5"><i class="fa fa-info fa-lg"></i></button>
                                </div>

                                <div class="col-lg-1">
                                    <span class="oi oi-info"></span>
                                    <div class="progress " style="height: 30px;width: 300px;    border-radius: 17px;">
                                        <div class="progress-bar" role="progressbar" style="width: 13%; "
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active mg show">

                                        <h3>STEP1 - NAME YOUR SMART TEMPLATE</h3>

                                        <div class="row " style="padding-bottom: 7%;">
                                            <div class="col-12 col-lg-8 col-sm-12 ">
                                                <h3 class="bgpurple">TEMPLATE</h3>
                                                <table class="table tablemartop">
                                                    <tbody>
                                                        <tr>
                                                            <td>Name</td>
                                                            <td>Type</td>
                                                            <td>Created By</td>
                                                            <td>Description</td>
                                                        </tr>
                                                        <tr class="secondtd">
                                                            <td>Agency_MUR_35</td>
                                                            <td>Home Loan</td>
                                                            <td>Marie White</td>
                                                            <td>Template for Home Loan</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="borderedpage">
                                                    <p>Here is a large collection of Moral Stories. From all regions of
                                                        the
                                                        world, this collection has been made to represent the true
                                                        spirit of
                                                        our culture. The underlining principles would be truth, love,
                                                        mutual
                                                        respect, righteousness, rectitude, divinity, priority to
                                                        societal
                                                        unity, etc…All people, including the old people, would enjoy
                                                        reading
                                                        these stories. You are welcome to share these stories with your
                                                        friends.</p><br>
                                                    <p>
                                                        Through small stories, the idea is to illustrate the greatness
                                                        of
                                                        our human culture. Through the stories one can learn the various
                                                        aspects of our lives. We urge people to read the stories
                                                        carefully
                                                        and apply the Moral learnt through the stories in their everyday
                                                        life.
                                                    </p>

                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <h3 class="bgpurple bgpurplesmart">SMART TEMPLATE</h3>
                                                <form class="container borderedpage borderedpage1">
                                                    <div>
                                                        <label for="validationDefault01" style="margin-top: 0;">First name</label>
                                                        <input type="text" class="form-control" id="validationDefault01"
                                                            placeholder="First name" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validationDefault01">Version</label>
                                                        <input type="text" class="form-control" id="validationDefault01"
                                                            placeholder="4.0.0" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea2">Type</label>
                                                        <select class="custom-select" required>
                                                            <option value="">Home Loan</option>
                                                            <!-- <option value="">Open this select menu</option> -->

                                                        </select>
                                                        <div class="invalid-feedback">Example invalid custom select
                                                            feedback</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea2">Description</label>
                                                        <textarea class="form-control rounded-0"
                                                            id="exampleFormControlTextarea2" rows="3"></textarea>
                                                    </div>

                                                </form>
                                            </div>



                                        </div>

                                        <div class="tfooter_btn_col p-3 ">
                                            <div class="row padding btnlist btnlist1">
                                                    <ul>
                                                            <li> <button type="button" class="btn btn-save" style="background: #777;"><i class="fa fa-close"></i> CANCEL</button></li>
                                                            <li> <button type="button" class="btn btn-save"><i class="fa fa-check"></i> SAVE </button></li> 
                                                             <li> <button type="button" class="btn btn-save"><i class="fa fa-arrow-right"></i> NEXT</button></li>
                                                        </ul>

                                                <!-- <div class="col-4">
                                                    <button type="button" class="btn btn-cancel"><i
                                                            class="fa fa-close"></i>
                                                        Cancel</button>
                                                </div>
                                               

                                                <div class="col-4" style="text-align:center;">
                                                        <button class="btn btn-next"><i class="fa fa-check" href="#menu1"></i>
                                                        Save</button>
                                                    </div>
                                                    <div class="col-4">
                                                            <button type="submit" class="btn btn-save"><i
                                                                    class="fa fa-arrow-right"></i>
                                                                Next</button>
                                                        </div> -->

                                                <!-- <div class="col-4">
                                                    <button class="btn btn-next"><i class="fa fa-arrow-right"
                                                            href="#menu1"></i>
                                                        Next</button>
                                                </div>
                                                <div class="col-4">
                                                        <button type="submit" class="btn btn-save"><i
                                                                class="fa fa-check"></i>
                                                            Save</button>
                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">

                                        <div>
                                            <h3 class="margin-bottom0;">STEP 2 -SMART CLAUSE</h3>
                                            <P>Select Your Clause by Highlighting The Text</P>
                                        </div>
                                        <div class="row" style="padding-bottom: 7%;">
                                            <div class="col-12 col-lg-8 col-sm-12 ">
 
                                                <div class="borderedpage">
                                                    <p>Here is a large collection of Moral Stories. From all regions of
                                                        the
                                                        world, this collection has been made to represent the true
                                                        spirit of
                                                        our culture. The underlining principles would be truth, love,
                                                        mutual
                                                        respect, righteousness, rectitude, divinity, priority to
                                                        societal
                                                        unity, etc…All people, including the old people, would enjoy
                                                        reading
                                                        these stories. You are welcome to share these stories with your
                                                        friends.</p><br>
                                                    <p>
                                                        Through small stories, the idea is to illustrate the greatness
                                                        of
                                                        our human culture. Through the stories one can learn the various
                                                        aspects of our lives. We urge people to read the stories
                                                        carefully
                                                        and apply the Moral learnt through the stories in their everyday
                                                        life.
                                                    </p>
                                                    <p>
                                                        Through small stories, the idea is to illustrate the greatness
                                                        of
                                                        our human culture. Through the stories one can learn the various
                                                        aspects of our lives.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 col-sm-12 ">
                                                <!-- <table class="table">
                                                    <thead>
                                                        <th>SMART CLAUSE</th>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table> -->

                                                <h3  class="bgpurple bgpurplesmart" style="    margin-bottom: 6px;">SMART CLAUSE</h3>
                                                <form class="container borderedpage borderedpage1 borderedpage2">

                                                    <div class="form-group" style="margin-top: 0;">
                                                        <label for="validationDefault01" >Smart Clause  Name</label>
                                                        <input type="text" class="form-control" id="validationDefault01"
                                                            placeholder="Name your smart template" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea2">Short Description</label>
                                                        <textarea class="form-control rounded-0"
                                                            id="exampleFormControlTextarea2" rows="2"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea2">Non-Legal Description</label>
                                                        <textarea class="form-control rounded-0"
                                                            id="exampleFormControlTextarea2" rows="3"></textarea>
                                                    </div>

                                                </form>

                                            </div>



                                        </div>

                                        <div class="tfooter_btn_col p-3 ">
                                            <div class="row padding btnlist btnlist2">
                                                    <ul>
                                                            <li> <button type="button" class="btn btn-save" style="background: #777;"><i class="fa fa-close"></i> CANCEL</button></li>
                                                            <li> <button type="button" class="btn btn-save" style="background: #777;"><i class="fa fa-close"></i> skip</button></li>
                                                            <li> <button type="button" class="btn btn-save" ><i class="fa fa-check"></i> save </button></li>
                                                            <li> <button type="button" class="btn btn-save"><i class="fa fa-close"></i> PREVIEW</button></li> 
                                                             <li> <button type="button" class="btn btn-save"><i class="fa fa-arrow-right"></i> NEXT</button></li>
                                                        </ul>
                                                <!-- <div class="col-3">
                                                    <button type="button" class="btn btn-cancel"><i
                                                            class="fa fa-close"></i>
                                                        CANCEL</button>
                                                </div>
                                                <div class="col-2">
                                                        <button type="button" class="btn btn-cancel"><i
                                                                class="fa fa-close"></i>
                                                            SKIP</button>
                                                    </div>

                                                    <div class="col-2" style="text-align:center;">
                                                            <button class="btn btn-next"><i class="fa fa-check" href="#menu1"></i>
                                                            Save</button>
                                                        </div>
                                                        <div class="col-3">
                                                                <button type="submit" class="btn btn-preview"><i
                                                                        class="fa fa-check"></i>
                                                                    PREVIEW</button>
                                                            </div>
                                                        <div class="col-2">
                                                                <button type="submit" class="btn btn-save"><i
                                                                        class="fa fa-arrow-right"></i>
                                                                    Next</button>
                                                            </div> -->

                                                <!-- <div class="col-3">
                                                    <button type="submit" class="btn btn-next"><i
                                                            class="fa fa-arrow-right"></i>
                                                        NEXT</button>
                                                </div>
                                                <div class="col-3">
                                                    <button type="submit" class="btn btn-save"><i
                                                            class="fa fa-check"></i>
                                                        SAVE</button>
                                                </div>
                                                <div class="col-3">
                                                    <button type="submit" class="btn btn-preview"><i
                                                            class="fa fa-check"></i>
                                                        PREVIEW</button>
                                                </div> -->
                                            </div>
                                        </div>

                                    </div>
                                    <div id="menu2" class="tab-pane fade ">
                                        <div class="row1">
                                            <h3 style="margin-bottom: 6px;">SMART FIELDS</h3>
                                            <P>Select Your Fields by Highlighting The Text</P>
                                        </div>
                                        <div class="borderedpage " style="margin-bottom: 7%;">
                                            <p>Here is a large collection of Moral Stories. From all regions of
                                                the
                                                world, this collection has been made to represent the true
                                                spirit of
                                                our culture. The underlining principles would be truth, love,
                                                mutual
                                                respect, righteousness, rectitude, divinity, priority to
                                                societal
                                                unity, etc…All people, including the old people, would enjoy
                                                reading
                                                these stories. You are welcome to share these stories with your
                                                friends.</p><br>
                                            <p>
                                                Through small stories, the idea is to illustrate the greatness
                                                of
                                                our human culture. Through the stories one can learn the various
                                                aspects of our lives. We urge people to read the stories
                                                carefully
                                                and apply the Moral learnt through the stories in their everyday
                                                life.
                                            </p>
                                            <p>
                                                Through small stories, the idea is to illustrate the greatness
                                                of
                                                our human culture. Through the stories one can learn the various
                                                aspects of our lives.
                                            </p>
                                        </div>
                                        <div class="margin" STYLE="margin-bottom:25px;">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModalCenter">Look Up Smart
                                                Field<i class="fa fa-clone" style="padding-left: 5px;"></i></button>
                                        </div>
                                        <!-- Popup -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog modal-xl" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="    background: #f6f6f6;">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">LOOK UP
                                                            SMART FIELD (SELECT ONE OPTION)</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <table class="table ">
                                                        <thead class="table-bordered">
                                                            <tr>
                                                                <th scope="col">SELECT</th>
                                                                <th scope="col">FIELD NAME</th>
                                                                <th scope="col">FIELD TYPE</th>
                                                                <th scope="col">VALUE</th>
                                                                <th scope="col">ALTERNATE NAMES</th>
                                                                <th scope="col">DATE SOURCE</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="table-bordered">

                                                                <td>
                                                                    <div class="checkbox">
                                                                        <label><input type="checkbox" value=""></label>
                                                                    </div>
                                                                </td>
                                                                <td>First Name</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>RDBMS</td>
                                                            </tr>
                                                            <tr class="table-bordered">
                                                                <td>
                                                                    <div class="checkbox">
                                                                        <label><input type="checkbox" value=""></label>
                                                                    </div>
                                                                </td>
                                                                <td>First Name</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>XL Sheet</td>
                                                            </tr>
                                                            <tr class="table-bordered">
                                                                <td>
                                                                    <div class="checkbox">
                                                                        <label><input type="checkbox" value=""></label>
                                                                    </div>
                                                                </td>
                                                                <td>First Name</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>Oracle</td>
                                                            </tr>
                                                            <tr class="table-bordered">
                                                                <td>
                                                                    <div class="checkbox">
                                                                        <label><input type="checkbox" value=""></label>
                                                                    </div>
                                                                </td>
                                                                <td>First Name</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>Oracle</td>
                                                            </tr>
                                                            <tr class="table-bordered">
                                                                <td>
                                                                    <div class="checkbox">
                                                                        <label><input type="checkbox" value=""></label>
                                                                    </div>
                                                                </td>
                                                                <td>First Name</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>sample text</td>
                                                                <td>Oracle</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <div class="tfooter_btn_col p-3 " style="border-top:none;">
                                                        <div class="row btnlist btnlist3">
                                                                <ul>
                                                                        <li> <button type="button" class="btn btn-save" style="background: #777;"><i class="fa fa-close"></i> CANCEL</button></li>
                                                                        <li> <button type="button" class="btn btn-save" style="background: #777;"><i class="fa fa-close"></i> NONE OF THESE</button></li>
                                                                        <li> <button type="button" class="btn btn-save" ><i class="fa fa-check"></i> SELECT </button></li>
                                                                    </ul>


                                                            <!-- <div class="col-4">
                                                                <button type="button" class="btn btn-cancel"><i
                                                                        class="fa fa-close"></i>
                                                                    Cancel</button>
                                                            </div>
                                                            <div class="col-4">
                                                                <button class="btn btn-cancel"><i class="fa fa-close"
                                                                        href="#menu1"></i>
                                                                    None </button>
                                                            </div>
                                                            <div class="col-4">
                                                                <button type="submit" class="btn btn-save"><i
                                                                        class="fa fa-check"></i>
                                                                    Select</button>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Popup -->
                                        <table class="table">
                                            <thead class="table-bordered">
                                                <tr>
                                                    <th scope="col">NAME</th>
                                                    <th scope="col">MAPPED TO</th>
                                                    <th scope="col">TYPE</th>
                                                    <th scope="col">VALUE</th>
                                                    <th scope="col">DATA SOURCE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-bordered">
                                                    <td class="text-primary">Lorem ipsum dolor</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                </tr>
                                                <tr class="table-bordered">
                                                    <td class="text-primary">Lorem ipsum dolor</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                </tr>
                                                <tr class="table-bordered">
                                                    <td class="text-primary">Lorem ipsum dolor</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                    <td>sample text</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="tfooter_btn_col p-3 ">



                                            <div class="row padding btnlist">

<ul>
    <li> <button type="button" class="btn btn-save" style="background: #777;"><i class="fa fa-close"></i> CANCEL</button></li>
    <li> <button type="button" class="btn btn-save" style="background: #000;"><i class="fa fa-close"></i> DELEGATE</button></li>
    <li> <button type="button" class="btn btn-save" style="background: #000;"><i class="fa fa-close"></i> SEND FOR REVIEW</button></li>
    <li> <button type="button" class="btn btn-save"><i class="fa fa-close"></i> SAVE DRAFT</button></li> 
     <li> <button type="button" class="btn btn-save"><i class="fa fa-close"></i> PUBLISH</button></li>
</ul>

                                            
                                            </div>
                                        </div>




                                    </div>


                                    <div id="menu6" class="tab-pane fade">
                                        <h3>Menu 3</h3>
                                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                            dicta sunt
                                            explicabo.</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
</div>