<div class="row mt-3 create_new_roles">
    <div class="container">
        <!--title-->
        <div class=" row-div">
            <div class="title_col">
                <a (click)='goBack()' class="back_btn"><i class="fa fa-mail-reply"></i> Back</a>
            </div>
            <ul class="subm">
                <li>Smart Template <a href="">/</a> </li>
                <li>Create <a href="">/</a> </li>
                <li><a href="">VIEW AND EDIT </a></li>
            </ul>
            <!-- <h1 class="heading">Create a New Company</h1> -->
        </div>
        <!--/title-->

        <!--data-section-->
        <div class="data_section row-div">
            <div class="data_title row-div">
                <h3>Create Smart Template</h3>
            </div>
            <div class="data_inner row-div">
                <div class="row">
                    <!--left-sidebar-->
                    <div class="col-12 col-lg-3 left_sidebar">
                        <app-smart-sidebar></app-smart-sidebar>
                    </div>


                    <div class="col-12 col-lg-9 right_container">
                        <div class="inner_content row-div">
                            <div>
                                <h3>ANYONE CAN BUILD AN SMART TEMPLATE</h3>
                                <p>Watch how to Create an Smart Template </p>
                                <div class="smart-template-bg">
                                    <a title="Play Video" data-toggle="modal" data-target="#myModal">
                                        <div></div>
                                        <img src="assets/images/play-icon.png">
                                    </a>
                                </div>
                            </div>
                            <div class="row mg">
                                <div class="col-lg-5 ">
                                    <div class="glyphprogress">
                                        <div class="connecting-line"></div>
                                        <ul>
                                            <li>
                                                <span class="glyphstep">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="glyphstep">
                                                    <i class="glyphicon glyphicon-phone"></i>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="glyphstep">
                                                    <i class="glyphicon glyphicon-envelope"></i>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 ">
                                    <h1>hai</h1>
                                </div>
                            </div>
                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
</div>