<div class="container-fluid">
  <div class="row login-bg">

    <div class="overlay"></div>
    <div class="col-xs-12 col-sm-6 left-login">
      <div>
        <ul class="left-login-list">
          <li class="list1">The only solution you need for digitizing</li>
          <li><i class="fa fa-check"></i>Digitize Contracts End to End</li>
          <li><i class="fa fa-check"></i>Create Contracts Templates</li>
          <li><i class="fa fa-check"></i>Auto Populate Contracts</li>
          <li><i class="fa fa-check"></i>Share Contracts With Customers</li>
          <li><i class="fa fa-check"></i>Sample Content1</li>
          <li><i class="fa fa-check"></i>Manage Expiry And Key Dates</li>
          <li><i class="fa fa-check"></i>And Much More</li>
          <li class="list2"><a href="#" style="text-decoration: underline;">Login to Find out More</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 right-login">

      <div class="rightlist">
        <div class="login-logo">
          <img src="assets/images/logo.png" alt="Avatar" class="avatar">
        </div>

        <form action="" class="loginform" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

          <div class="form-group logininput2">
            <input type="text" formControlName="usernameOrEmail" class="form-control" placeholder="Username or Email"
              name="usernameOrEmail" required>
            <div class="form_error_blk" *ngIf="loginForm.controls['usernameOrEmail'].touched && 
                loginForm.controls['usernameOrEmail'].errors && loginForm.controls['username'].errors.required">
              <span class="form_error_class">Username or Email required</span>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control" placeholder="Password"
              name="password" required>
          </div>
          <div class="lo-for">      
            <div class="form_error_blk"
              *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors  && loginForm.controls['password'].errors.required">
              <span class="form_error_class">Password required</span>
            </div>
            <div class="psws"> <a href="#">Forgot password?</a></div>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label" style="color:#fff;">
              <input class="form-check-input" type="checkbox" style="color:#fff;"> Remember me
            </label>
            <label class="form-check-label" style="float: right;">
              <a href="" style="color:#fff;text-decoration: underline;">Forgot Password</a>
            </label>
          </div>
          <button type="submit" class="btn btn-primary loginbtn"><i class="fa fa-check"></i> Login</button>
        </form>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>

<!-- new login page design end  -->

<app-page-loader #spinnerLoad></app-page-loader>