<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h6><span class="fa fa-edit"></span> EDIT THE FIELDS</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <form class="modal-body" [formGroup]="editCompanyForm" (ngSubmit)="editCompanySubmit()">
                <div class="data_section row-div">
                    <div class="table-resposive">
                        <table class="w-100  no-borders">
                            <tbody>
                                <tr>
                                    <td class="p-1">Name: </td>
                                    <td class="p-1">
                                        <input type="text" formControlName="companyName" class="form-control"
                                            value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">Address:</td>
                                    <td class="p-1">
                                        <textarea type="text" class="form-control" formControlName="address"
                                            value=""></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">City:</td>
                                    <td class="p-1">
                                        <input type="text" class="form-control" formControlName="city"
                                            value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">Country:</td>
                                    <td class="p-1">
                                        <select class="form-control" formControlName="country">
                                            <option value="UAE">United Arab Emirates</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">Logo:</td>
                                    <td class="p-1">
                                            <div class="custom-file">										
									  
                                                    <input type="file" required class="custom-file-input" formControlName="logo"
                                                        name="logo">
                                                    <label class="custom-file-label" for="customFile">
                                                        <img src="assets/images/browse_file.png" alt="">
                                                    </label> 
                                                    <!-- <small *ngIf="submitted && fConrols.logo?.errors" class="text-danger">
                                                        <div *ngIf="fConrols.logo?.errors?.required">&#x26A0; Company logo is
                                                            required</div>
                                                    </small> -->
                                                </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">Contact Person:</td>
                                    <td class="p-1">
                                        <input type="text" formControlName="contactPerson" class="form-control"
                                            value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">Phone Number:</td>
                                    <td class="p-1"><input type="text" class="form-control"
                                            formControlName="phoneNumber" value=""></td>
                                </tr>
                                <tr>
                                    <td class="p-1">Website:</td>
                                    <td class="p-1"><input type="text" class="form-control" formControlName="website"
                                            value=""></td>
                                </tr>
                                <tr>
                                    <td class="p-1">Status:</td>
                                    <td class="p-1"><input type="text" class="form-control" formControlName="status"
                                            value=""></td>
                                </tr>
                                <tr>
                                    <td class="p-1">ZIP Code:</td>
                                    <td class="p-1"><input type="text" class="form-control" formControlName="zipCode"
                                            value=""></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tfooter_btn_col p-2">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-close"></i>
                        Cancel</button>
                    <button type="submit" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
                </div>
            </form>
        </div>
        <!-- Modal footer -->

    </div>
</div>

<!--data-section-->


<div class="row mt-3 create_new_company">
        <div class="container">
            <!--title-->
            <div class=" row-div">
                <div class="title_col">
                    <a (click)='goBack()' class="back_btn"><i class="fa fa-mail-reply"></i> Back</a>
                </div>
                <ul class="subm">
                    <li>Entity Management <a href="">/</a> </li>
                    <li>Company <a href="">/</a> </li>
                    <li><a href="">VIEW AND EDIT </a></li>
                </ul>
                <!-- <h1 class="heading">Create a New Company</h1> -->
            </div>
            <!--/title-->
    
            <!--data-section-->
            <div class="data_section row-div">
                <div class="data_title row-div">
                    <h3>VIEW AND EDIT COMPANY</h3>
                </div>
                <div class="data_inner row-div">
                    <div class="row">
                        <!--left-sidebar-->
                        <div class="col-12 col-lg-3 left_sidebar">
                            <app-entity-sidebar></app-entity-sidebar>
                        </div>
                        <!--right_container-->
                        <div class="col-12 col-lg-9 right_container">
                            <div class="data_inner row-div">
                                <div class="table-form">
    
                                </div>
                                <div class="table-resposive">
                                    <table class="w-100 table table-stripped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>City</th>
                                                <th>Country</th>
                                                <th>Contact Person</th>
                                                <th>Phone Number</th>
                                                <th>Website</th>
                                                <th>Status</th>
                                                <th>ZipCode</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
    
                                   
                                        <tbody *ngIf="companyList?.length>0">
                                            <tr *ngFor="let company of companyList">
                                                <td>{{company.companyName}}</td>
                                                <td>{{company.city}}</td>
                                                <td>{{company.country}}</td>
                                                <td>{{company.contactPerson}}</td>
                                                <td>{{company.phoneNumber}}</td>
                                                <td>{{company.website}}</td>
                                                <td>{{company.status}}</td>
                                                <td>{{company.zipCode}}</td>  
                                                <td class="tfooter_btn_col"><button class="float-none btn btn-save" data-toggle="modal" (click)="editRecord=company" data-target="#myModal"><i class="fa fa-pencil"></i></button></td>
                                            </tr>
                                            <!-- <tr>
                                                <td>Mary</td>
                                                <td>Moe</td>
                                                 <td class="tfooter_btn_col"><button class="float-none btn btn-save" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> EDIT</button></td>
                                            </tr>
                                            <tr>
                                                <td>July</td>
                                                <td>Dooley</td>
                                                <td class="tfooter_btn_col"><button class="float-none btn btn-save" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> EDIT</button></td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--/data-section-->
    
    
                    </div>
                </div>
                <!--/inner-container-->
            </div>
        </div>
    </div>