<div class="row mt-3 create_new_company">
	<div class="container">
		<!--title-->
		<div class=" row-div">
			<div class="title_col">
				<a (click)='goBack()' class="back_btn"><i class="fa fa-mail-reply"></i> Back</a>
			</div>

			<ul class="subm">
				<li>Templates <a href="">/</a> </li>
				<li><a href="">Add </a></li>
			</ul>
			<!-- <h1 class="heading">Create a New Company</h1> -->
		</div>
		<!--/title-->

		<!--data-section-->
		<div class="data_section row-div">
			<div class="data_title row-div">
				<h3>Add New Template</h3>
			</div>
			<div class="data_inner row-div">
				<div class="row">
					<!--left-sidebar-->
					<div class="col-12 col-lg-3 left_sidebar">
						<app-entity-sidebar></app-entity-sidebar>
					</div>

					<!--right_container-->
					<div class="col-12 col-lg-9 right_container">
						<form [formGroup]="createCompanyForm" class="inner_content row-div"
							(ngSubmit)="createCompanySubmit()">
							<div class="create_company_form global_form">
								<div class="jumbotron">
									<div class="row">
										<div class="col-6">
											<h3>Create A New Template</h3>
										</div>
										<div class="col-4"><button>Upload File</button></div>

									</div>
								</div>
								<div class="form-group city_field">
									<label for="" class="label_field">Document</label>
									
									<div class="controls_field">
										<input type="text-area" formControlName="address" name="document"
											class="form-control">
										<small *ngIf="submitted && fConrols.city?.errors" class="text-danger">
											<div *ngIf="fConrols.document?.errors?.required">&#x26A0; document name is
												required
											</div>
										
										</small>

									</div>
								</div>
								<div class="form-group state_field">
									<label class="label_field">Content</label>
									<div class="controls_field">
										<select class="form-control" formConrolName="address" name="content">
											<option [value]="''"></option>
											<option [value]="''"></option>
										</select>
										<small *ngIf="submitted && fConrols.content?.errors" class="text-danger">
											<div *ngIf="fConrols.content?.errors?.required">&#x26A0;Please select the
												content
											</div>
										</small>
									</div>
								</div>
								<div class="form-group city_field">
									<label for="" class="label_field">Version Comments</label>
									<div class="controls_field">
										<input type="text-area" formControlName="address" name="document"
											class="form-control">
										<small *ngIf="submitted && fConrols.city?.errors" class="text-danger">
											<div *ngIf="fConrols.document?.errors?.required">&#x26A0; document name is
												required
											</div>
										</small>
									</div>
								</div>
								<div class="form-group city_field">
									<label for="" class="label_field">Hirarchy</label>
									<div class="controls_field">
										<input type="text-area" formControlName="address" name="document"
											class="form-control">
										<small *ngIf="submitted && fConrols.city?.errors" class="text-danger">
											<div *ngIf="fConrols.document?.errors?.required">&#x26A0; document name is
												required
											</div>
										</small>
									</div>
								</div>

								<div class="form-group city_field">
									<label for="" class="label_field">New Version Number</label>
									<div class="controls_field">
										<input type="text-area" formControlName="address" name="document"
											class="form-control">
										<small *ngIf="submitted && fConrols.city?.errors" class="text-danger">
											<div *ngIf="fConrols.document?.errors?.required">&#x26A0; document name is
												required
											</div>
										</small>
									</div>
								</div>
								<div class="form-group city_field">
									<label for="" class="label_field">Creation Date</label>
									<div class="controls_field">
										<input type="text-area" formControlName="address" name="document"
											class="form-control">
										<small *ngIf="submitted && fConrols.city?.errors" class="text-danger">
											<div *ngIf="fConrols.document?.errors?.required">&#x26A0; document name is
												required
											</div>
										</small>
									</div>
								</div>

								<div class="form-group city_field">
									<label for="" class="label_field">Expiration Date</label>
									<div class="controls_field">
										<input type="text-area" formControlName="address" name="document"
											class="form-control">
										<small *ngIf="submitted && fConrols.city?.errors" class="text-danger">
											<div *ngIf="fConrols.document?.errors?.required">&#x26A0; document name is
												required
											</div>
										</small>
									</div>
								</div>
							</div>

							<div class="tfooter_btn_col">
								<button type="button" class="btn btn-cancel"><i class="fa fa-close"></i> Cancel</button>
								<button type="submit" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
							</div>

						</form>
					</div>
					<!--/right_container-->
				</div>
			</div>

		</div>
		<!--/data-section-->


	</div>
</div>
<!--/inner-container-->