<div class="container">
  <div class="row temptoplist">
    <ul class="">
      <li>
        <button (click)='goBack()' type="button" class="btn btn-light"><i class="fa fa-mail-reply"></i> Back</button>
      </li>
      <li>Templates /</li>
      <li>Edit /</li>
      <li>Pending /</li>
      <li>Template View /</li>
      <li><a href="">Template History </a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12  temptitle">
      <h3>Edit Templates</h3>

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3 left_sidebar p-0">
      <app-entity-sidebar></app-entity-sidebar>
    </div>
    <!--right_container-->

    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-9 col-xl-9 p-r-0 tablebottom">
      <ul class="toptabel">
        <li class="toplabel1">

          <p class="search-icon">Search : <input class="form-control" id="myInput" type="text" placeholder="Type to filter...">
          </p>
        </li>
        <li class="toplabel2">

        </li>
        <li class="toplabel3">

          <p>Show Per Page :

            <select name="">
                                <option  value="" >All</option>
                                <option  value="" >10</option>
                              </select>
          </p>
        </li>
      </ul>


      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Version</th>
              <th>Author </th>
              <th>Creation date</th>
              <th>Published on</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.0.4</td>
              <td>Adam Smith</td>
              <td>10.10.2017 <span class="time">10.30am</span></td>
              <td>10.10.2017</td>
            </tr>
            <tr>
              <td colspan="4"><b>Comments </b> : Amendments to section 7</td>
            </tr>
            <tr>
              <td>1.0.4</td>
              <td>Adam Smith</td>
              <td>10.10.2017 <span class="time">10.30am</span></td>
              <td>10.10.2017</td>
            </tr>
            <tr>
              <td colspan="4"><b>Comments </b> : Amendments to section 7</td>
            </tr>
            <tr>
              <td>1.0.4</td>
              <td>Adam Smith</td>
              <td>10.10.2017 <span class="time">10.30am</span></td>
              <td>10.10.2017</td>
            </tr>
            <tr>
              <td colspan="4"><b>Comments </b> : Amendments to section 7</td>
            </tr>
            <tr>
              <td>1.0.4</td>
              <td>Adam Smith</td>
              <td>10.10.2017 <span class="time">10.30am</span></td>
              <td>10.10.2017</td>
            </tr>
            <tr>
              <td colspan="4"><b>Comments </b> : Amendments to section 7</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>
