.search-box-container input {
    padding: 5px 20px 5px 5px;
   
  }
  
  .search-box-container:after {
      content: "\f002";
      font-family: FontAwesome;
      /* margin-left: -25px;
      margin-right: 25px; */
  }
  table.table thead th{
      font-size: 15px;
  }
  .search-box-container:after {
    content: "\f002";
    font-family: FontAwesome;
 position: absolute;
 right: -40px;
 top: 7px;
}



.modal-body{
    padding-bottom: 6%;
}
.modal-body label{
    text-align: left;
    float: left;
}
.modal-body .col{
   margin-bottom: 19px;
}
.modal-footer{
    border-top: 1px solid #b8b8b8;
}
.tfooter_btn_col{
    border-top:none;
}

.modal-header{
    background: #f6f6f6;text-transform: uppercase;
}