<div class="container">
    <div class="row temptoplist">
        <ul class="">
            <li>
                <button (click)='goBack()' type="button" class="btn btn-light"><i class="fa fa-mail-reply"></i>
                    Back</button>
            </li>
            <li>Contracts /</li>
            <li>Edit / </li>
            <li><a href="">Task id</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-12  temptitle">
            <h3>Edit All Template</h3>
            <div class="report-col">
                <button class="btn btn-save" type="button"><i class="fa fa-question"></i> Help</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-3 left_sidebar p-0">
            <app-contracts-sidebar></app-contracts-sidebar>
        </div>
        <!--right_container-->
        <div class="col-12 col-lg-9 p-0 mt-3">
            <form action="" class="tempform pt-3">
                <div class="row ">
                    <div class="col-lg-4">
                        <label for="email">Task id</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="" name="">
                    </div>

                </div>
                <div class='row topm'>
                    <div class="col-lg-4">
                        <label for="email">Assign Priority</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                            <option>Murahabha</option>
                            <option>2</option>
                        </select>
                    </div>

                </div>
                <div class='row topm'>
                    <div class="col-lg-4">
                        <label for="email">Document Type</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                            <option>Murahabha Borrowing</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class='row topm'>
                    <div class="col-lg-4">
                        <label for="email">Document ID</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                            <option>Murahabha Borrowing</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="row topm ">
                    <div class="col-lg-4">
                        <label for="email">Due Date</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="" name="">
                    </div>

                </div>
                <div class="row topm ">
                    <div class="col-lg-4">
                        <label for="email"> Dealay Start</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="" name="" placeholder="1.0.0">
                    </div>

                </div>
                <div class='row topm'>
                    <div class="col-lg-4">
                        <label for="email">Task Remainder</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                            <option>Murahabha Borrowing</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class='row topm'>
                    <div class="col-lg-4">
                        <label for="email">Assign to Department</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                            <option>Murahabha Borrowing</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class='row topm'>
                    <div class="col-lg-4">
                        <label for="email">Assign to Individual</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                            <option>Murahabha Borrowing</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="row topm">
                    <div class="col-lg-4">
                        <label>Instructions</label>
                    </div>
                    <div class="col-lg-3">
                        <textarea name="" id="" cols="50" rows="5"></textarea>
                    </div>
                </div>
                <div class='row topm'>
                    <div class="col-lg-4">
                        <label for="email">Task Requirements</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                            <option>Murahabha Borrowing</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class='row topm'>
                    <div class="col-lg-4">
                        <label for="email">Tasks Rights</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                        </select>
                    </div>
                </div>

                <div class="col-12 tempbtn p-2">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-close"></i>
                        Cancel</button>
                    <button type="submit" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
                </div>

            </form>
        </div>

    </div>
</div>