<div class="container">
        <div class="row temptoplist">
          <ul class="">
            <li>
              <button (click)='goBack()' type="button" class="btn btn-light"><i class="fa fa-mail-reply"></i> Back</button>
            </li>
            <li>Templates /</li>
            <li>Edit /</li>
            <li>Pending /</li>
            <li>Template View /</li>
            <li><a href=""> Template ID  </a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-12  temptitle">
            <h3>Edit Contract</h3>
            <div class="report-col">
              <button class="btn btn-save" type="button"><i  class="fa fa-question" ></i> Help</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3 left_sidebar p-0">
            <app-contracts-sidebar></app-contracts-sidebar>
          </div>
          <!--right_container-->
          <div class="col-12 col-lg-9 p-0">
            <form action="" class="tempform toppadding">
            
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Contract ID </label>
                </div>
                <div class="col-lg-2">
                  2018_MMFA-112
                </div>
                <div class="col-lg-6">
                  <ul class="editbtnlist">
                    <li style="margin-right: 8px;">
                      <button type="button" class="btn btn-primary"><i  class="fa fa-eye" ></i> View Doc</button>
                    </li>
                    <li style="margin-right: 8px;">
                      <button type="button" class="btn btn-dark"><i  class="fa fa-eye" ></i> View History</button>
                    </li>
                    <li >
                      <button style="background: #612684;" type="button" class="btn btn-dark"><i  class="fa fa-file" ></i> Related  Files</button>
                    </li>
                    <li style="margin-top: 8px;">
                      <button style="background: #612684;" type="button" class="btn btn-dark"><i  class="fa fa-question" ></i> View S   mart Template</button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Priority</label>
                </div>
                <div class="col-lg-4" style="color:red;">
      
                  High
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Assigned By</label>
                </div>
                <div class="col-lg-4">
                  Arushi Joshi
      
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Delegated To</label>
                </div>
                <div class="col-lg-4">
                  Matrie White
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Due Date </label>
                </div>
                <div class="col-lg-4">
                  <input type="date" class="form-control" id="" name="">
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Status</label>
                </div>
                <div class="col-lg-4">
                 5
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Task Description</label>
                </div>
                <div class="col-lg-4">
                        <textarea name="" id="" cols="38" rows="5" placeholder="Please review Section3"></textarea>
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="">Workflow Classification</label>
                </div>
                <div class="col-lg-4">
                        <input type="text" class="form-control" id="" name="">
                </div>
                <div class="col-lg-4">
                    <ul class="editbtnlist">
                      <li style="margin-right: 8px;">
                        <button  type="button" class="btn btn-primary"><i  class="fa fa-eye" ></i> view Flow</button>
                      </li>
                    
                    </ul>
                  </div>
              </div>
              <div class="row formdiv">
                    <div class="col-lg-4">
                      <label for="email">Step </label>
                    </div>
                    <div class="col-lg-4">
                      1
                    </div>
                  </div>
      
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Comments</label>
                </div>
                <div class="col-lg-4">
                  <textarea name="" id="" cols="38" rows="5" placeholder="No comments"></textarea>
                </div>
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Creation Date </label>
                </div>
                <div class="col-lg-4">
                  <input type="date" class="form-control" id="" name="">
                </div>
                
              </div>
              <div class="row formdiv">
                <div class="col-lg-4">
                  <label for="email">Expiration Date </label>
                </div>
                <div class="col-lg-4">
                  <input type="date" class="form-control" id="" name="">
                </div>
                
              </div>
              <div class="row formdiv">
                    <div class="col-lg-4">
                      <label for="">Send E-mail To </label>
                    </div>
                    <div class="col-lg-4">
                            <input type="text" class="form-control" id="" name="">
                    </div>
                
                  </div>
               
              <div class="col-12 tempbtn">
                <ul>
                  <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> cancel</button></li>
                  <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> delete</button></li>
                  <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> delegate</button></li>
                  <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> send for preview</button></li>
                  <li> <button type="button" class="btn btn-primary"><i class="fa fa-close"></i> next</button></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    
    
