<div class="container">
  <div class="row temptoplist">
    <ul class="">
      <li>
        <button (click)='goBack()' type="button" class="btn btn-light"><i class="fa fa-mail-reply"></i> Back</button>
      </li>

      <li><a href="">Contracts / </a></li>
      <li><a href="">Edit /</a></li>
      <li><a href="">Executed / </a></li>
      <li>All</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12  temptitle">
      <h3>Edit Templates</h3>

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3 left_sidebar p-0">
      <app-contracts-sidebar></app-contracts-sidebar>
    </div>
    <!--right_container-->

    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-9 col-xl-9 p-r-0 tablebottom">
      <ul class="toptabel">
        <li class="toplabel1">

          <p class="search-icon">Search : <input class="form-control" id="myInput" type="text"
              placeholder="Type to filter...">
          </p>
        </li>
        <li class="toplabel2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> <i
              class="fa fa-filter" style="margin-right: 5px;"></i> Advance Filter</button>

          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header" style="    background: #f8f8f8;">
                  <h4 class="modal-title" style="font-size:17px;text-transform: uppercase;"><i style="font-size:23px;"
                      class="fa fa-filter" style="margin-right: 5px;"></i> Advance Filter</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <form action="">
                    <div class="row formdivpop">
                      <div class="col-lg-6 formdiv">
                        <div class="col-12">
                          <label for="">Contract ID</label>
                        </div>
                        <div class="col-12">
                          <select name="" style="width:100%;">
                            <option value="">All</option>
                            <option value="">10</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-6 formdiv">
                        <div class="col-12">
                          <label for="">Date of Creation</label>
                        </div>
                        <div class="col-12">
                          <input type="date" class="form-control" id="" name="" placeholder="search">
                        </div>
                      </div>
                    </div>
                    <div class="row formdivpop">
                      <div class="col-lg-6 formdiv">
                        <div class="col-12">
                          <label for="">Created by</label>
                        </div>
                        <div class="col-12">
                          <select name="" style="width:100%;">
                            <option value="">All</option>
                            <option value="">10</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-6 formdiv">
                        <div class="col-12">
                          <label for="">Execution Date</label>
                        </div>
                        <div class="col-12">
                          <select name="" style="width:100%;">
                            <option value="">All</option>
                            <option value="">10</option>
                          </select>
                        </div>
                      </div>
                    </div>


                    <div class="row formdivpop">
                      <div class="col-lg-6 formdiv">
                        <div class="col-12">
                          <label for="">Counterparty Name </label>
                        </div>
                        <div class="col-12">
                          <select name="" style="width:100%;">
                            <option value="">All</option>
                            <option value="">10</option>
                          </select>
                        </div>
                      </div>


                    </div>


                  </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <div class="col-12 tempbtn">
                    <ul>
                      <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> cancel</button>
                      </li>
                      <li> <button type="button" class="btn btn-primary"><i class="fa fa-check"></i> apply</button></li>
                    </ul>
                  </div>

                  <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                </div>

              </div>
            </div>
          </div>





        </li>
        <li class="toplabel3">

          <p>Show Per Page :

            <select name="">
              <option value="">All</option>
              <option value="">10</option>
            </select>
          </p>
        </li>
      </ul>


      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>contract id</th>
              <th>date of creation</th>
              <th>created by</th>
              <th>execution date</th>
              <th>counterparty name</th>
              <th>expiration date</th>

              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#454</td>
              <td>11.10.2017</td>
              <td>Marie White</td>
              <td>11.10.2017</td>
              <td>Frank Brown</td>
              <td>11.10.2018</td>
              <td style="text-align: center;">
                <i class="fa fa-ellipsis-h open-pop" style="font-size:24px">
                  <ul class="open-poplist">
                    <li>
                      <i class="fa fa-eye" style="color:skyblue;"></i>
                    </li>
                    <li>
                      <a routerLink='/contracts/edit-sigle-executed'> <i class="fa fa-pencil"></i></a>
                    </li>
                  </ul>
                </i>
              </td>
            </tr>
            <tr>
              <td>#454</td>
              <td>11.10.2017</td>
              <td>Marie White</td>
              <td>11.10.2017</td>
              <td>Frank Brown</td>
              <td>11.10.2018</td>
              <td style="text-align: center;">
                <i class="fa fa-ellipsis-h open-pop" style="font-size:24px">
                  <ul class="open-poplist">
                    <li>
                      <i class="fa fa-eye" style="color:skyblue;"></i>
                    </li>
                    <li>
                      <a routerLink='/contracts/edit-sigle-executed'> <i class="fa fa-pencil"></i></a>
                    </li>
                  </ul>
                </i>
              </td>
            </tr>
            <tr>
              <td>#454</td>
              <td>11.10.2017</td>
              <td>Marie White</td>
              <td>11.10.2017</td>
              <td>Frank Brown</td>
              <td>11.10.2018</td>
              <td style="text-align: center;">
                <i class="fa fa-ellipsis-h open-pop" style="font-size:24px">
                  <ul class="open-poplist">
                    <li>
                      <i class="fa fa-eye" style="color:skyblue;"></i>
                    </li>
                    <li>
                      <a routerLink='/contracts/edit-sigle-executed'> <i class="fa fa-pencil"></i></a>
                    </li>
                  </ul>
                </i>
              </td>
            </tr>
            <tr>
              <td>#454</td>
              <td>11.10.2017</td>
              <td>Marie White</td>
              <td>11.10.2017</td>
              <td>Frank Brown</td>
              <td>11.10.2018</td>
              <td style="text-align: center;">
                <i class="fa fa-ellipsis-h open-pop" style="font-size:24px">
                  <ul class="open-poplist">
                    <li>
                      <i class="fa fa-eye" style="color:skyblue;"></i>
                    </li>
                    <li>
                      <a routerLink='/contracts/edit-sigle-executed'> <i class="fa fa-pencil"></i></a>
                    </li>
                  </ul>
                </i>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>