<div class="row">

  <div class="col-12">
    <h3 class="lefttitletop" style="color:#000;"> STEP2 - smart clause

      <p style="   
                            color: gray;
                            font-size: 13px;margin-top: 3px;  text-transform: capitalize;  ">
        select your clause by highlighting the text
      </p>
    </h3>
  </div>
  <div class="col-12 col-lg-8">


    <div class="leftcontent">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
        text ever since the 1500s,
      </p>
      <p>
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
        only five
        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
        only five
        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </div>
 

  <div class="col-12 col-lg-4">
    <h3 class="leftttile">SMART TEMPLATE</h3>
    <form action="" class="rightform">
      <div class="form-group">
        <label for="">Smart Clause Name:</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="form-group">
        <label for="">Short Description:</label>
        <textarea name="" id="" class="form-control" placeholder=""></textarea>
      </div>
      <div class="form-group">
        <label for="">Non-Legal Description:</label>
        <textarea name="" id=""class="form-control" placeholder=""></textarea>
      </div>



    </form>
  </div>



  <div class="col-12 tempbtn">
    <ul>
      <li> <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i> cancel</button></li>
      <li> <button type="button" class="btn btn-secondary"><i class="fa fa-angle-right"></i> skip</button></li>
      <li> <button type="button" class="btn btn-primary"><i class="fa fa-check"></i> save</button></li>
      <li> <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> preview</button></li>

      <li> <button type="button" class="btn btn-primary " role="tab" data-toggle="tab" href="#menu2"><i
            class="fa fa-arrow-right"></i>next</button></li>

    </ul>
  </div>


</div>