<div class="sidebar">
    <!-- <h3 class="mb-0 p-2">My Company</h3> -->
    <div class="left-men-u">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        <img src="assets/images/overview-enterprise.png" alt="" srcset="">
                        <img src="assets/images/company-black.png" alt="" srcset="">
                        CONTRACTS <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <ul class="card-body nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/contracts/add-contracts" data-toggle="tab"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                Add Contracts Template </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/edit-contracts" data-toggle="tab"><img
                                    src="assets/images/pencil-black.png" alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                Edit Contracts Template</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/all-contracts" data-toggle="tab"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                                View  Contracts Template</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/edit-sigle-delegate" data-toggle="tab"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                               Edit Single Delegated</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/edit-sigle-executed" data-toggle="tab"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                               Edit Single Executed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/edit-sigle-drafting" data-toggle="tab"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                               Edit Single Drafting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/edit-sigle-pending-execution" data-toggle="tab"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                               Edit Single Pending Execution</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/user-manage-delegated" data-toggle="tab"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                              User Manage Delegated</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/user-manage-executed" data-toggle="tab"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                              User Manage Executed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contracts/user-manage-pending-execution" data-toggle="tab"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                              User Manage Pending Execution</a>
                        </li>
                    </ul>
                </div>
            </div>




        </div>
    </div>
</div>